/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

/* Utilities */

.debug,
.debug {
  border: 1px dashed white;
  height: 30px;
}
