/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

/* Utilities */
.debug,
.debug {
  border: 1px dashed white;
  height: 100%;
}

/* Container */
.container {
  display: flex;
  height: calc(100vh - 40px);
  background-color: #141318;
  overflow: hidden;
  padding: 0;
}
/* Sidebar */
.sidebar {
  width: 40px;
  background-color: inherit;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-top: 5px;
}

ul {
  padding-left: 5px;
  margin-top: 5px;
}

.ds-logo {
  border-radius: 4%;
}

/* Main */
.main {
  width: calc(100%-55px);
  flex-grow: 1;
  background-color: #1c1d22;
}

/* Footer */
.footer {
  height: 55px;
  background-color: #2d2d34;
}
