/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

body {
  width: 512px;
}

/* Utilities */
.debug,
.debug {
  border: 1px dashed white;
  height: 100%;
}

/* Font */

/* // <weight>: Use a value from 1 to 1000
// <uniquifier>: Use a unique and descriptive class name */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Container */
.container {
  display: flex;
  height: calc(100vh - 55px);
  background-color: #141318;
  overflow: hidden;
  padding: 0;
  font-family: "inter";
}
/* Sidebar */
.sidebar {
  width: 45px;
  background-color: inherit;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar-img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-top: 10px;
}

.primary {
  padding-left: 5px;
  margin-top: 5px;
}

.ds-logo {
  height: 33px;
  width: 33px;

  border-radius: 4%;
  position: relative;
}

.bar {
  width: 4px;
  height: 25px;
  background-color: white;
  position: absolute;
  transform: translate(-7px, 5px);
  border-radius: 10px;
}

.bar-secondary {
  width: 4px;
  height: 25px;
  background-color: white;
  position: absolute;
  transform: translate(-7px, 5px);
  border-radius: 10px;
  display: none;
}

/* Main */
.main {
  width: calc(100% - 45px);
  flex-grow: 1;
  background-color: #1c1d22;
  border-radius: 5% 0 0 0;
  margin-top: 5px;
  color: white;
  position: relative;
  overflow-y: auto;
}

h3 {
  padding: 20px 0 5px 15px;
}

.search-input {
  height: 27px;
  width: 27px;
  background-color: #383a42;
  border-radius: 50%;
  margin-left: 14px;
  position: relative;
  margin-top: 10px;
}

.bi.bi-search {
  font-size: 15px;
  position: absolute;
  transform: translate(42%, 35%);
}

.digit-input {
  background-color: #383a42;
  border-radius: 20px;
  height: 27px;
  width: 365px;
  line-height: 27px;
  text-align: center;
  margin-top: 10px;
}

.main-div {
  display: flex;
  justify-content: space-around;
}

.card {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  height: 60px;
  width: 432px;
  opacity: 0.4;
}

.card.active {
  display: flex;
  justify-content: space-around;
  opacity: 1;
  background-color: #26262d;
  border-radius: 10px;
}

.message {
  width: 348px;
  padding-left: 5px;
  flex-shrink: 1;
}

.message.active {
  opacity: 1;
}

.time-sent.active {
  opacity: 1;
}

h4 {
  padding-top: 10px;
}

.time-sent {
  padding-top: 13px;
}
.time-sent.hour {
  margin: 0 12px;
}

.p-p {
  height: 37px;
  width: 37px;
  border-radius: 50%;
}

.profile-img {
  margin-left: 3px;
  position: relative;
  padding-top: 10px;
}

.status-dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  border: 4px solid black;
  transform: translate(25px, 30px);
  opacity: 1;
}

.status-dot.online {
  background-color: #5aa464;
}

.status-dot.afk {
  background-color: #e9aa41;
}

.status-dot.offline {
  background-color: #e65350;
}

button {
  transform: translate(419px, -12px);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  color: black;
  font-size: 20px;
}

section {
  position: sticky;
  bottom: 0;
}
/* Footer */
.secondary {
  height: 55px;
  background-color: #2d2d34;
  display: flex;
  color: white;
  justify-content: space-around;
  flex-basis: 0;
  font-size: 9px;
  margin-bottom: 0;
  text-align: center;
  padding-left: 0;
  padding-top: 14px;
}

.bi.bi-houses-fill {
  font-size: 20px;
}

.profile-picture {
  height: 20px;
  width: 20px;
  margin-top: 5px;
  margin-left: 2px;
  margin: 0 auto;
  border-radius: 50%;
}

.li-footer > div {
  height: 20px;
  color: white;
  font-size: 15px;
}

.secondary > li {
  flex-basis: calc(100% / 3);
  text-align: center;
}

.bi.bi-bell-fill {
  font-size: 20px;
}

/* Animations */

.card:hover {
  cursor: pointer;
  background-color: #26262d;
  opacity: 1;
}

li:hover {
  cursor: pointer;
}

.search-input:hover {
  cursor: pointer;
}

.digit-input:hover {
  cursor: pointer;
}

.sidebar-img:hover {
  transform: scale(1.1);
}

li:hover .bar-secondary {
  display: inline-block;
}

button:hover {
  cursor: pointer;
}
