/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

/* Utilities */
.debug,
.debug {
  border: 1px dashed white;
  height: 100%;
}

/* Container */
.container {
  display: flex;
  height: calc(100vh - 40px);
  background-color: #141318;
  overflow: hidden;
  padding: 0;
}
/* Sidebar */
.sidebar {
  width: 40px;
  background-color: inherit;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-top: 5px;
}

.primary {
  padding-left: 5px;
  margin-top: 5px;
}

.ds-logo {
  border-radius: 4%;
}

/* Main */
.main {
  width: calc(100%-55px);
  flex-grow: 1;
  background-color: #1c1d22;
  border-radius: 10% 0 0 0;
  margin-top: 5px;
}

/* Footer */
.secondary {
  height: 55px;
  background-color: #2d2d34;
  display: flex;
  color: white;
  justify-content: space-around;
  flex-basis: 0;
  font-size: 9px;
  margin-bottom: 0;
  text-align: center;
  padding-left: 0;
  padding-top: 14px;
}

.bi.bi-houses-fill {
  font-size: 20px;
}

.profile-picture {
  height: 20px;
  width: 20px;
  margin-top: 5px;
  margin-left: 2px;
  margin: 0 auto;
}

li > div {
  height: 20px;
  color: white;
  font-size: 15px;
}

.secondary > li {
  flex-basis: calc(100% / 3);
  text-align: center;
}

.bi.bi-bell-fill {
  font-size: 20px;
}
